<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
| Tiêu chí              | **SOAP**                                                              | **REST**                                                                       |
| --------------------- | --------------------------------------------------------------------- | ------------------------------------------------------------------------------ |
| **Kiến trúc**         | **Stateful** hoặc **Stateless**                                       | **Stateless** (không lưu trạng thái)                                           |
| **Định dạng dữ liệu** | Chủ yếu là **XML**                                                    | Hỗ trợ **JSON**, **XML**, **HTML**, **Plain Text**                             |
| **Tính linh hoạt**    | Sử dụng giao thức riêng (SOAP protocol), ít linh hoạt hơn             | Sử dụng đầy đủ các phương thức HTTP như **GET**, **POST**, **PUT**, **DELETE** |
| **Tính bảo mật**      | Hỗ trợ tiêu chuẩn **WS-Security** mạnh mẽ (signing, encryption, etc.) | Dựa vào **HTTPS**, có thể kết hợp OAuth, JWT,...                               |

</body>
</html>