<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
RESTful API là một kiểu thiết kế giao tiếp giữa các hệ thống phần mềm dựa trên các nguyên tắc của REST (Representational
State Transfer). Một nguyên lý quan trọng của REST là stateless, nghĩa là mỗi yêu cầu từ client gửi đến server phải chứa
đầy đủ thông tin để server xử lý, và server không lưu trạng thái của client giữa các yêu cầu. REST cũng tuân theo mô
hình client-server, trong đó client và server được tách biệt rõ ràng để tăng tính linh hoạt và khả năng mở rộng. RESTful
API sử dụng các phương thức HTTP như GET (lấy dữ liệu), POST (tạo mới), PUT (cập nhật), và DELETE (xóa) để thực hiện các
thao tác trên tài nguyên (resources), thường được biểu diễn dưới dạng URL. Nhờ vào sự đơn giản, dễ hiểu và hiệu quả,
RESTful API được sử dụng rộng rãi trong phát triển web và các hệ thống phân tán.

</body>
</html>