<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
| Endpoint             | Phương thức | Trạng thái | Ghi chú                          |
| -------------------- | ----------- | ---------- | -------------------------------- |
| '/products`      | POST        | ✅          | Thêm mới sản phẩm thành công     |
| `/products`      | GET         | ✅          | Lấy danh sách sản phẩm chính xác |
| `/products/{id}` | PUT         | ✅          | Cập nhật đúng thông tin sản phẩm |
| `/products/{id}` | DELETE      | ✅          | Xóa sản phẩm thành công          |
</body>
</html>